---
import { Forum } from "../components/Forum";
import "../styles/global.css";
---

<div class="bg-red-500">
  <h1 class="text-white">This should have a red background</h1>
</div>
<Forum client:load />
